<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>



  <appSettings>

    <add key="ConStr" value="Data Source=15.207.70.94;Initial Catalog=UAT_B2B;User ID=BoltRemit;Password=Remit@2020"/>

    <!--<add key="ConStr" value="Data Source=15.207.70.94;Initial Catalog=Live_B2B;User ID=BRemitLive;Password=BW@250522"/>-->


    <add key="apiKey" value="" />

    <add key="ExecutionTime" value="5"/>



    <!--UAT-->

    <add key="client_id" value="Hirv4nnc9GxYhPkMifkxTdYIHg2ruGYX" />

    <add key="client_secret" value="zplFcyXqymVcZt6n" />    

    <add key="Baseurl" value="https://api.sandbox.payoneer.com/v4/" />

    <!--UAT-->


    <!--Live-->

    <!--<add key="client_id" value="bT8ybhnukp57ceRzzb7kpzz9YpioCKwN" />

    <add key="client_secret" value="CmVzirC7e8UKIJ5j" />

    <add key="Baseurl" value="https://api.payoneer.com/v4/" />-->

    <!--Live-->


  </appSettings>
  
  
  
</configuration>